@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Lexend", sans-serif;
}

:root {
  --bg-color: #f9f9f9;
  --theme-color: #7091f5;
  --sec-color: #ff96ad;
  --third-color: #334257;
}

::selection {
  color: var(--bg-color);
  background: var(--theme-color);
}

body {
  background: var(--bg-color);
}

body.close {
  overflow: hidden;
}

header {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-color);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  box-shadow: rgba(0, 0, 0, 0.11) 0px 0.602187px 0.602187px -1.25px,
    rgba(0, 0, 0, 0.094) 0px 2.28853px 2.28853px -2.5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -3.75px;
}

a {
  text-decoration: none;
}

header a {
  display: flex;
}

header h1 {
  margin-left: 10px;
  color: var(--theme-color);
}

.logo {
  position: relative;
  top: 2px;
}

.logo img {
  padding: 10px;
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

.navbar {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: var(--theme-color);
  font-weight: bold;
  background-color: transparent;
  padding: 10px;
  border-radius: 50px;
}

.navbar .pin {
  background-color: var(--theme-color);
  color: var(--bg-color);
  padding: 10px;
  border-radius: 50px;
}

.navbar a.active {
  color: var(--sec-color);
}

#menu-icon {
  display: none;
  cursor: pointer;
  font-size: 2rem;
  margin-right: 10px;
  position: relative;
  top: 5px;
  color: var(--theme-color);
}

/* All section style */

section {
  padding: 0 19%;
  height: 100vh;
  width: auto;
}

/* Video Style */

.video {
  display: none;
  position: fixed;
  background: rgb(112, 145, 245, 0.8);
  backdrop-filter: blur(5px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
}

.video video {
  border-radius: 10px;
  border: 5px solid var(--sec-color);
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  animation: videoPlay 0.5s forwards;
}

@keyframes videoPlay {
  0% {
    width: 0%;
  }

  60% {
    width: 80%;
  }

  100% {
    width: 65%;
  }
}

.fa-times {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  border-radius: 50%;
  margin: 10px 25px;
  padding: 5px 8px;
  color: var(--bg-color);
  background: rgb(252, 33, 33);
  cursor: pointer;
}

/* styling home start */

.home {
  background: var(--bg-color);
  margin-top: 40px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  text-align: left;
}

.home-text h5 {
  font-size: 14px;
  font-weight: 400;
  color: var(--third-color);
  margin-bottom: 40px;
}

.home-text h1 {
  font-size: 90px;
  line-height: 1;
  color: var(--third-color);
  margin: 0 0 45px;
}

.home-text h4 {
  font-size: 18px;
  font-weight: 600;
  color: var(--theme-color);
  margin-bottom: 10px;
}

.home-text p {
  color: var(--theme-color);
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.home-img img {
  width: 100%;
  max-width: 700px;
  height: auto;
  background: var(--third-color);
  padding: 30px;
  border-radius: 5px 10px 15px 50px;
}

.home-text a {
  display: inline-block;
  color: var(--bg-color);
  background: var(--sec-color);
  padding: 12px 30px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all 0.5s ease;
  border: 1px solid var(--bg-color);
  display: none;
  cursor: pointer;
}

.home-text .btn {
  border: 1px solid var(--bg-color);
  display: inline-block;
}

.home-text .btn:hover {
  border: 1px solid var(--sec-color);
  background: transparent;
  color: var(--theme-color);
}

.home-text a:hover {
  color: var(--bg-color);
  background: var(--theme-color);
  transform: translateX(8px);
}

.home-text .btn i {
  vertical-align: middle;
}

.icons {
  position: absolute;
  top: 0;
  padding: 50vh 5%;
  background: var(--sec-color);
  margin-left: 40px;
}

.icons i {
  display: block;
  margin: 26px 0;
  font-size: 34px;
  color: var(--bg-color);
  transition: all 0.5s ease;
}

.icons i:hover {
  color: var(--third-color);
  transform: translateY(-2.5px);
}

/* Divisi Styling Start */

.divisi {
  background: var(--third-color);
  height: 100%;
  min-height: 100vh;
  position: relative;
  padding-top: 60px;
  padding-bottom: 40px;
}

.divisi::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 240px;
  background: var(--bg-color);
}

.divisi .heading {
  padding: 0 10px;
  padding-top: 30px;
  position: relative;
}

.divisi .heading span,
.pencapaian .heading span,
.history .heading span {
  color: var(--bg-color);
  padding: 0 5px;
  background: var(--sec-color);
}

.divisi .heading h2,
.pencapaian .heading h2,
.history .heading h2 {
  color: var(--third-color);
  margin: 10px 0;
}

.divisi_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  box-shadow: 0 15px 20px rgb(0, 0, 0, 0.25);
}

.box h2 {
  color: var(--bg-color);
  font-size: 20px;
}

.box h3 {
  color: var(--sec-color);
  font-size: 13px;
  margin: 2px 0;
}

.box button {
  background: var(--theme-color);
  color: var(--bg-color);
  border: none;
  padding: 3px 5px;
  font-size: 13px;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.box button:hover {
  scale: 1.1;
}

.box {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.box:nth-child(1) {
  background-color: #295F98;
  min-height: 200px;
  height: 100%;
  text-align: right;
}

.box:nth-child(1) .caption {
  order: -1;
}

.box:nth-child(1)::before {
  content: "";
  position: absolute;
  background-color: #16325B;
  width: 110%;
  left: -20px;
  height: 60px;
  bottom: -40px;
  transform: rotate(1deg);
}

.box:nth-child(2) {
  background-color: #16325B;
  min-height: 180px;
  height: 100%;
  text-align: left;
}

.box:nth-child(2)::before {
  content: "";
  position: absolute;
  background-color: #201E43;
  width: 110%;
  left: -20px;
  height: 60px;
  bottom: -40px;
  transform: rotate(-1deg);
}

.box:nth-child(3) {
  background-color: #201E43;
  text-align: right;
}

.box:nth-child(3) .caption {
  order: -1;
}

.box:nth-child(3)::before {
  content: "";
  position: absolute;
  background-color: #55679C;
  width: 110%;
  left: -20px;
  height: 60px;
  bottom: -30px;
  transform: rotate(1deg);
}

.box:nth-child(4) {
  background-color: #55679C;
  min-height: 150px;
  height: 100%;
  text-align: left;
}

.box-img img {
  max-width: 150px;
  width: 100%;
  margin-bottom: 50px;
}

.caption {
  margin-bottom: 50px;
}

.box:nth-child(1) .box-img img,
.box:nth-child(1) .caption {
  margin-bottom: 20px;
}

.box:nth-child(4) .box-img img,
.box:nth-child(4) .caption {
  margin-bottom: 30px;
}

.box:nth-child(2) .box-img img,
.box:nth-child(2) .caption {
  margin-bottom: 30px;
}

/* Divisi Detail Styling */
.divisi_detail {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 10;
  background: var(--third-color);
  padding: 0 13%;
  transition: all 0.55s ease;
  transform: translateX(-100%);
}

.divisi_detail.open {
  transform: translateX(0);
}

.divisi_detail .heading_detail {
  text-align: left;
  color: var(--bg-color);
  margin: 10px 0;
  display: flex;
  background: var(--third-color);
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.25);
  padding: 10px;
  border: 2px solid var(--bg-color);
  border-radius: 5px;
}

.divisi_detail .heading_detail img {
  max-width: 150px;
  width: 100%;
  height: 100%;
  position: relative;
  top: 10px;
}

.title {
  margin: 10px;
}

.title p {
  margin: 10px 0;
}

.title h3 {
  position: relative;
  background: var(--theme-color);
  padding: 5px;
  width: 70px;
  height: auto;
  rotate: -5deg;
  transform: skew(-5deg);
  text-align: center;
  top: 5px;
}

.divisi_detail p {
  color: var(--bg-color);
  font-size: 14px;
}

.divisi_detail h2 {
  color: var(--sec-color);
  margin: 15px 0;
}

.produk_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.produk img {
  max-width: 200px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.produk .only_logo {
  background: #333;
  padding: 40px 0;
}

.produk .only_logo.fix {
  padding: 30px 0;
}

.produk .only_logo.s {
  padding: 30px 5px;
}

.tools .only_logo {
  width: 100%;
  max-width: 100px;
  padding: 5px 40px;
  background: #fff;
}

.tools .arduino {
  width: 100%;
  max-width: 160px;
  padding: 5px 20px;
  background: #fff;
}

.produk {
  background: var(--third-color);
  box-shadow: 0 15px 20px rgb(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: left;
  width: 100%;
  margin: 10px;
  padding: 15px;
  border: 2px solid var(--bg-color);
  display: flex;
  transition: all 0.5s ease;
}

.tools:hover,
.produk:hover {
  transform: translateY(-2px);
  background: rgb(255, 255, 255, 0.1);
}

.produk_text {
  display: inline-block;
  margin-left: 10px;
  line-height: 20px;
}

.produk_text h3 {
  margin-bottom: 10px;
  color: var(--theme-color);
}

.produk button {
  background: var(--bg-color);
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #000;
  margin-top: 10px;
}

.produk button:hover {
  background: #dddddd;
}

.produk a {
  color: var(--third-color);
}

.tools_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tools img {
  max-width: 200px;
  width: 100%;
  /* height: 100%; */
  border-radius: 5px;
}

.tools {
  background: var(--third-color);
  box-shadow: 0 15px 20px rgb(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: left;
  width: 100%;
  margin: 10px;
  padding: 15px;
  display: flex;
  justify-content: flex-start;
  border: 2px solid var(--bg-color);
  transition: all 0.5s ease;
}

.tools_text h3 {
  color: var(--theme-color);
}

.tools_text {
  display: inline-block;
  margin-left: 10px;
}

.karya_list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.karya {
  background: var(--third-color);
  box-shadow: 0 15px 20px rgb(0, 0, 0, 0.25);
  padding: 20px;
  border: 2px solid var(--bg-color);
  border-radius: 10px;
  text-align: center;
  width: 39%;
  margin: 10px;
}

.karya_text p {
  margin-top: 10px;
  line-height: 20px;
}

.poster {
  width: 100%;
  max-width: 160px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
}

.poster.klik {
  height: auto;
  max-width: 100%;
}

mark {
  background: var(--bg-color);
  color: var(--third-color);
  padding: 0 5px;
}

/* Achievement Styling Start */

.pencapaian {
  padding-top: 100px;
  background: var(--bg-color);
  height: 100%;
  min-height: 100vh;
}

.pencapaian .heading,
.history .heading {
  margin-bottom: 40px;
}

.pencapaian_list_tahun {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.box_pencapaian {
  margin: 10px;
  transition: all 0.5s ease;
  box-shadow: 0px 0px 0px 0.5px var(--theme-color);
  position: relative;
  cursor: grab;
}

.capt_ach {
  opacity: 0;
  text-align: center;
  position: absolute;
  font-size: 1px;
  color: var(--third-color);
  padding: 5px 10px;
  border-radius: 0 3px 0 0;
  background: var(--bg-color);
  right: 0;
  top: 0;
  transition: all 0.25s ease;
}

.box_pencapaian:hover .capt_ach {
  opacity: 1;
  font-size: 20px;
}

.ach_img {
  position: relative;
  overflow: hidden;
}

.box_pencapaian img {
  position: relative;
  width: 100%;
  max-width: 220px;
  height: 100%;
  border: 5px solid var(--bg-color);
  border-radius: 3px;
  transition: all 0.5s ease;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

.box_pencapaian img:hover {
  border: 5px solid var(--bg-color);
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.box_pencapaian:hover {
  box-shadow: 0px 0px 0px 8px var(--theme-color);
  transform: translateY(-8px);
}

.look {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 25px;
  transition: all 0.25s ease;
}

.look i {
  top: 45%;
  color: var(--bg-color);
  position: absolute;
  transition: all 0.15s ease;
  filter: drop-shadow(0 5px 15px rgb(112, 145, 245, 1));
}

.box_pencapaian:hover .look {
  opacity: 1;
}

.look i:hover {
  scale: 1.5;
}

.achievement_detail {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 10;
  background: var(--bg-color);
  padding: 0 13%;
  transition: all 0.55s ease;
  transform: translateX(-100%);
}

.achievement_detail.open {
  transform: translateX(0);
}

.achiev_list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.achiev img {
  max-width: 200px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.achiev {
  background: var(--bg-color);
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  padding: 15px;
  display: inline-block;
  border: 2px solid var(--third-color);
  transition: all 0.5s ease;
  width: 100%;
  max-width: 300px;
}

.achiev_text h3 {
  color: var(--theme-color);
}

.achiev_text {
  display: inline-block;
  margin-left: 10px;
}

.achiev_text h3 {
  margin: 10px 0;
  font-size: 15px;
}

.achiev_text mark {
  background: var(--theme-color);
  color: var(--bg-color);
}

/* history styling start */
.history {
  background: var(--theme-color);
  height: 100%;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 40px;
}

.wrapper_chapter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.judul,
.box_chapter p {
  color: var(--third-color);
}

.box_chapter img {
  max-width: 200px;
  width: 100%;
  height: auto;
  margin: 10px 0;
}

.box_chapter img.loading {
  position: relative;
  left: -8px;
}

.box_chapter {
  background: var(--bg-color);
  border-radius: 5px;
  padding: 15px;
  padding-left: 75px;
  transform: translateX(-40px);
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.25);
  border: 2px solid var(--third-color);
}

.box_chapter.loading {
  width: 70%;
}

.box_chapter h2.loading,
.box_chapter p.loading {
  background: #dddddd;
  width: 90%;
  height: 20px;
  position: relative;
}

.box_chapter p.loading {
  margin-bottom: 20px;
  height: 15px;
  width: 100%;
  transform: translateY(20px);
}

.box_chapter p.loading::before {
  content: "";
  transform: translateY(-30px);
  position: absolute;
  background: #dddddd;
  width: 80%;
  height: 15px;
}

.chapt {
  transition: all 0.5s;
}

.chapt.hide {
  opacity: 0;
  transform: translateX(-10px);
}

.list_chapter {
  display: inline-block;
  list-style: none;
  transform: translateX(20px);
  z-index: 1;
}

.list_chapter li {
  font-size: 15px;
  background: var(--sec-color);
  margin: 20px 0;
  padding: 5px;
  width: 73px;
  border-radius: 5px;
  cursor: pointer;
  color: var(--third-color);
  border: 2px solid var(--third-color);
}

.list_chapter li {
  transition: all 0.2s;
}

.list_chapter li.active {
  transform: translateX(-5px);
}

/* footer styling start */
.footer {
  background: var(--theme-color);
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}

.footer div {
  margin: 10px 20px;
}

.footer h2 {
  color: var(--bg-color);
}

.extracurricular,
.latest_post {
  flex: 0 0 100px;
}

.extracurricular ul {
  list-style: none;
}

.extracurricular a {
  margin-left: 5px;
  color: var(--third-color);
  border-bottom: 1px solid var(--third-color);
}

.extracurricular .s {
  margin-left: 8px;
}

.extracurricular li {
  margin: 15px 0;
  color: var(--third-color);
}

.random_quotes {
  flex: 1 1 auto;
}

.random_quotes p {
  margin: 10px 0;
  color: var(--third-color);
}

.random_quotes h3 {
  color: var(--third-color);
}

.box_post {
  transform: translateX(-17px) translateY(10px);
  background: var(--bg-color);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  border-radius: 5px;
  cursor: grab;
  position: relative;
}

.box_post::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  rotate: 45deg;
  background: var(--bg-color);
  transform: translateY(-27px);
}

.box_post img:nth-child(1) {
  width: 25px;
  height: 25px;
  position: relative;
  rotate: -5deg;
}

.box_post p {
  margin-left: 8px;
  margin-top: 3px;
  color: var(--third-color);
}

.box_post img:nth-child(3) {
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
}

.box_post a {
  background: #fff;
  color: var(--third-color);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 15px;
  transition: all .50s ease;
}

.box_post a:hover {
  transform: translateY(-5px);
}

.box_post i {
  margin-right: 5px;
}

@media (max-width: 1140px) {
  .home-img {
    margin-bottom: 20px;
  }

  .home-img img {
    max-width: 300px;
    height: auto;
  }

  .home-text h1 {
    font-size: 75px;
    margin: 0 0 30px;
  }

  .home-text h5 {
    margin-bottom: 25px;
  }
}

@media (max-width: 920px) {
  @keyframes videoPlay {
    0% {
      width: 0%;
    }

    60% {
      width: 100%;
    }

    100% {
      width: 85%;
    }
  }

  .video video {
    top: 45%;
  }

  #menu-icon {
    display: block;
  }

  .home {
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .bx-menu {
    transition: all 0.3s ease;
  }

  .bx-x {
    transition: all 0.3s ease;
    rotate: 180deg;
  }

  section,
  .divisi_detail {
    padding: 0 3%;
    transition: 0.2s;
  }

  .home-text {
    padding-top: 65px;
    padding-bottom: 10px;
  }

  .home-text a {
    display: inline-block;
    padding: 12px 30px;
  }

  .home-text .btn {
    margin-left: 5px;
  }

  .icons {
    display: none;
  }

  header {
    box-shadow: 0;
    padding: 10px 0;
  }

  .logo {
    position: relative;
    top: 7px;
    transition: all 0.3s ease;
  }

  .logo.open {
    top: 15px;
  }

  .navbar a {
    display: none;
  }

  .navbar a.open {
    display: block;
  }

  @keyframes revNavbarAnimation {
    0% {
      height: 75vh;
    }

    60% {
      height: 5px;
    }

    100% {
      height: 15px;
    }
  }

  .navbar {
    flex-direction: column;
    position: absolute;
    top: 65px;
    height: 15px;
    left: 0;
    background-color: var(--bg-color);
    width: 100%;
    text-align: center;
    justify-content: space-evenly;
    opacity: 1;
    transition: all 0.2s ease;
    box-shadow: rgba(0, 0, 0, 0.11) 0px 0.602187px 0.602187px -1.25px,
      rgba(0, 0, 0, 0.094) 0px 2.28853px 2.28853px -2.5px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -3.75px;
  }

  .navbar.beforeOpen {
    animation: revNavbarAnimation 0.55s;
  }

  @keyframes navbarAnimation {
    0% {
      height: 15px;
    }

    60% {
      height: 80vh;
    }

    100% {
      height: 75vh;
    }
  }

  .navbar.open {
    opacity: 1;
    display: flex;
    padding: 10px 0;
    height: 75vh;
    animation: navbarAnimation 0.55s;
  }

  .navbar li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .navbar .pin {
    background-color: var(--theme-color);
    color: var(--bg-color);
    padding: 10px;
    border-radius: 50px;
  }

  .navbar .pin {
    margin: 0 100px;
  }
}

@media (max-width: 680px) {
  .home-img img {
    width: 100%;
    max-width: 200px;
    height: auto;
  }

  .tools,
  .produk,
  .achiev {
    text-align: center;
    display: inline-block;
  }

  .divisi_detail .heading_detail {
    text-align: center;
    display: inline-block;
  }

  .box {
    flex-direction: column;
    position: relative;
    padding-bottom: 20px;
  }

  .box .caption {
    text-align: center;
    position: relative;
    bottom: 10px;
    margin-bottom: 0;
  }

  .box:nth-child(1) .caption,
  .box:nth-child(3) .caption {
    order: 1;
  }

  .box-img img {
    min-width: 200px;
    margin-bottom: 0;
  }

  .box:nth-child(1)::before,
  .box:nth-child(2)::before,
  .box:nth-child(3)::before,
  .box:nth-child(4)::before {
    content: '';
    background-color: transparent;
  }

  .box:nth-child(1) .box-img img,
  .box:nth-child(1) .caption {
    margin-bottom: 0;
  }

  .box:nth-child(4) .box-img img,
  .box:nth-child(4) .caption {
    margin-bottom: 0;
  }

  .box:nth-child(2) .box-img img,
  .box:nth-child(2) .caption {
    margin-bottom: 0;
  }

  .title h3 {
    left: 50%;
    translate: -50%;
    transform: skew(-5deg);
  }

  .karya {
    width: 100%;
  }

  .box_chapter {
    padding: 15px 10px;
    padding-left: 45px;
    transform: translateX(-30px);
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.25);
    border: 2px solid var(--third-color);
  }

  .box_chapter.hide {
    transform: translateX(-30px) translateY(-10px);
  }

  .list_chapter li {
    margin: 15px 0;
    font-size: 12px;
    width: 58px;
  }

  .box_chapter h2 {
    font-size: 18px;
  }

  .box_chapter p {
    font-size: 12px;
  }

  .list_chapter {
    display: inline-block;
    list-style: none;
    transform: translateX(5px);
  }

  .footer {
    display: inline-block;
  }

  .footer h2 {
    margin-top: 20px;
  }
}

@media (max-width: 340px) {
  .home-img img {
    width: 100%;
    max-width: 150px;
    height: auto;
  }

  .home-text a {
    padding: 10px 20px;
    line-height: 1.4;
    font-size: 12px;
  }
}